.active--hover-blue:hover:hover {
  background-color: #4C5E7F;
  color: #7aa1e8;
  border-radius: 5px;
}

.active--hover-gray:hover {
  background-color: #858585;
  border-radius: 5px;
}



.text--hover-colored:hover {
  color: #7aa1e8
}
