:root {
  --main-color: #1b1b1b;
  --black: #555;
  --bg: #fceae9;
  --light-color: #cdcdcd;
  --light-color-primary:#6D6B6D;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, .1);
  --mdn-color-dark-grey: #343434;
  --type-smaller-font-size: 0.833rem;
  --type-heading-h1-font-size: 2.488rem;
  --border-color:#858585;
  --type-smaller-font-size: 0.833rem;
  --article-actions-container-height: 2rem;
  --mdn-color:#8CB4FF;
  
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}

html,
body {
  background-color: var(--main-color);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin: 0;
  cursor: default;
  height: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  z-index: 100;
  position: relative;
  width: 100%;
  min-width: 118.75rem+1.25rem;
  /* min-height: 100%; */
  overflow: hidden;
}



.container {
  position: relative;
  z-index: 100;
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.ns {
  width: 80rem;
  height: 40.625rem;
  margin: 0 auto;
}

/* end */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-top: 0;
  font-weight: normal;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.grey-color {
  background-color: var(--mdn-color-dark-grey);
}

@media (max-width: 768px) {

  html,
  body {
    font-size: .9375rem;
  }
}

@media (max-width: 480px) {

  html,
  body {
    font-size: .875rem;
  }
}