@media (max-width: 1200px) {

  html,
  body {
    font-size: .955rem;
  }

  .link-list__item--header {
    padding: 0.2rem;
  }

  .content__container {
    grid-template-areas: "article  main main"
      "sidebar  main main";
    grid-template-columns: 1fr 2fr;


  }

  .sidebar {
    grid-area: sidebar;

  }

  .content__main {
    grid-area: main;


  }

  .content__article {
    grid-area: article;
    margin: 0;
    padding: 0;

  }

  .link-list__item--article {
    padding-right: 3rem;
  }
}

@media (max-width: 855px) {

  .navigation--left-aligned {
    display: none;
  }

  .wrapper--hidden {
    display: block;
    margin-top: 1rem;
  }

  /* .content-part__container{
    margin-top: 15rem;
  } */
  .burger__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (max-width: 768px) {


  html,
  body {
    font-size: .855rem;
  }



  .wrapper__banner {
    display: none;
  }
}





@media (max-width: 650px) {

  html,
  body {
    font-size: .995rem;
  }

  .content__container {
    grid-template-areas: "main  main main"
      "main  main main";
    grid-template-columns: 1fr 2fr;


  }

  .sidebar {
    display: none;
  }

  .content__article {
    display: none;
  }


}

@media (max-width: 555px) {
  .navigation--footer {
    display: block;
  }

  .footer__column {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
  }

  .row--footer {
    justify-content: space-evenly;

  }
}

@media (max-width: 320px) {

  .row--footer {
    flex-flow: row wrap;

  }

  .column--foter {
    margin: 0.5rem 0;
  }
}