.breadcrumbs-list {
  justify-content: space-between;
  align-items: center;

}

.breadcrumbs-list--aligned {
  margin: 0 0.6rem;
  padding: 0.3rem;
}

.breadcrumbs--bordered {
  border-top: 1px solid var(--border-color);
}

.breadcrumbs-list__item {
  color: var(--light-color);
  font-weight: 300;
}