.btn{
  border-radius: 1rem;
  /*
  БЭМ блоку нельзя задавать внешнюю геометрию, отступы, способ позиционирования и тп.
  Суть блока в том, что если его скопипастить в любое другое место, он встанет и не сломает вёрстку.
  В данном  же случае, если его вставить куда-нибудь он у тебя всегда будет иметь фиксированную ширину, даже когда места будет мало..
  Вместо этого, надо создать БЭМ элемент в том месте где у тебя этот класс находится и уже ему задавать эту ширину
  */
  width: 5rem; /* Всё еще не исправлено, причём, много где*/
  background-color: var(--main-color);
  border-color: var( --light-color-primary);
  color:var( --light-color-primary);
}
.signup-but{
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  font-size:0.8rem;
}
.language-btn{
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
  font-size: small;
}
.filter-btn {
  border-radius: 1rem;
  background-color: var(--main-color);
  border-color: var( --light-color-primary);
  color:var( --light-color-primary);
  padding: 0.5rem;
  width: 5rem;
}
.search-btn{
  padding: 0.3rem;
  width: 4rem;
}
.search-btn span{
  color: var(--mdn-color); 
}
