.button {
  cursor: pointer;
}

.button--search {
  border-radius: 1rem;
  width: 5rem;
  background-color: var(--main-color);
  border: 1px solid var(--light-color-primary);
  color: var(--light-color-primary);
}

.button--search {
  padding: 0.3rem;
  width: 4rem;
}

.button--search span {
  color: var(--mdn-color);
}

.button--signup {
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.button--language {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
  font-size: small;
}

.sidebar__filter-btn {
  cursor: text;
  border-radius: 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--light-color-primary);
  color: var(--light-color-primary);
  padding: 0.5rem;
  width: 5rem;
  margin-bottom: 1rem;
}
