.content__container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 0.5fr 2fr 1fr;
  margin-top: 2rem;
}

.sidebar__container {

  padding-bottom: 2rem;
  padding-right: 0.5rem;
}

.content__main--alligned {

  padding-bottom: 3rem;
  max-width: 1000px;
}

.topic--main {
  line-height: 1.5rem;
  margin: 1rem 0 2rem;
  font-weight: 300;
}

.navigation--article {
  border-left: 2px solid var(--border-color);
}

.link-list__item--article {
  margin: 0.8rem 1rem;
  max-width: 200px;
  text-decoration: none;
  color: var(--light-color);
  font-size: var(--type-smaller-font-size);
}


/* custom scroolbar */
.navigation--sidebar::-webkit-scrollbar-track {
  border-radius: 0px;
}

.navigation--sidebar::-webkit-scrollbar {
  width: 13px;
}

.navigation--sidebar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--mdn-color-dark-grey);
}

.navigation--sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--mdn-color-dark-grey);
}