
.footer__logos p{
margin-bottom: 2rem;
}
.footer__logos i{
  padding-right: 0.4rem;
}
.wrapper__footer{
  background-color: var(--mdn-color-dark-grey);

}


.footer-nav-elem{
  padding: 0.4rem;
  font-size: var(--type-smaller-font-size);
}
