.wrapper--bordered {
  border-bottom: 1px solid var(--border-color);
}

.navigation__container--nav-left {
  margin: 0 0.2rem;
}

.link-list__item--header {
  padding: 0.8rem;
}

.logo {
  color: #fff;
}

.logo::after {
  content: '_';
  color: var(--mdn-color);
  font-weight: bolder;
}

.wrapper--hidden {
  display: none;
}