.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 64px;
  width: 120px;
}

.navigation__container--nav-left {
  margin: 0 0.2rem;
}

.link-list__item--header {
  padding: 0.8rem;
}

.logo {
  color: #fff;
}

.logo::after {
  content: '_';
  color: var(--mdn-color);
  font-weight: bolder;
}
