.navigation--left-aligned {
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.link-list__item {
  color: var(--light-color);
  font-weight: 300;
}

.navigation--sidebar {
  max-height: 800px;
  overflow-y: scroll;
}

.link-list__item--sidebar {
  padding: 0.5rem;
  display: inline-flex;
  color: var(--light-color);
  text-decoration: none;
  min-width: max-content;
  margin-bottom: 0.5rem;
  font-size: var(--type-smaller-font-size)
}

.navigation__element--article {
  text-decoration: none;
  color: var(--light-color);
  font-size: var(--type-smaller-font-size);
}

.navigation--footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 1rem;
  border-bottom: 1px solid var(--light-color);
}